
.first,
.sec,
.third {
    height: 460px;
    width: 420px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.first{
    background-image: url("/public/img//Home/11.png");
    margin-right:13px ;
}
.sec{
    background-image: url("/public/img//Home/12.png");
    margin-right:13px ;
    
}
.third{
    background-image: url("/public/img//Home/13.png");
}

.first,
.third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

.first h2,
.third p {
    color: #000;
}